@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Integralbold';
  src: url('/fonts/integralcfbold.otf') format('opentype');
}

@font-face {
  font-family: 'Integral';
  src: url('/fonts/integralcf.otf') format('opentype');
}
body {
  font-family: 'Akira', sans-serif;
}